*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------------------------------------------
---------------------------REUSE---------------------------
---------------------------------------------------------*/
img{
    width: 100%;  
    height: 100%;  
}
a{
    text-decoration: none;   
}
h1{
    display: inline-block;
    font-size: 50px;
    position: relative;
     bottom: 10px;
     left: 10px;
}
.row{
    width: 1080px;
    margin: 0 auto;
}
.start-btn{
    display: block;
    background-image: linear-gradient(to right,rgb(44, 243, 167),rgb(126, 175, 184));
    width: 150px;
    margin: 50px auto auto;
    border: 3px solid rgb(77, 126, 107);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 110%;
    font-weight: 550;
    letter-spacing: 0.8px;
    color: rgb(245, 245, 245);
    box-shadow: 2px 7px 2px 2px rgb(59, 58, 58);
}
.start-btn:active{
    box-shadow: none;
    background-image: linear-gradient(to right,rgb(126, 175, 184),rgb(44, 243, 167));
    position: relative;
     transform: translate(2px, 7px);
}
.img-section{
    width:60px;
}
/*---------------------------------------------------------
--------------------------HEADER---------------------------
---------------------------------------------------------*/

/*----------------------MENU + LOGO-----------------------*/
.header{
    background-image:  url('../img/background-header.jpg');
    /* linear-gradient(70deg, rgb(0, 0, 0, 30%) 70%, rgba(255, 255, 255, 0.61)), */
    background-position: relative;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.header__menu{
    /* border: 2px solid red; */
    display: block;
    padding-top: 50px;
}
.header__menu ul{
    /* border: 2px solid red; */
    text-align: right;
}
.header__menu ul li{
    /* border: 2px solid red; */
    display: inline-block;
    margin: 10px 10px 10px 20px;
    letter-spacing: 2px;
}
.header__menu .btn{
    border: 2px solid rgb(77, 126, 107);
    border-radius: 20px;
    padding: 5px 13px;
}
.header__menu .btn a{
    color: rgb(77, 126, 107);
}
    .header__menu .btn:hover,
    .header__menu .btn:active{
        transition: 0.5s;
        position: relative;
        transform: scale(1.3);
    }
.header__menu .about a{
    color: black;
}
    .header__menu .about:hover,
    .header__menu .about:active{
        transition: 0.5s;
        transform: scale(1.2);
        margin-right: -5px;
        border: 2px solid rgb(77, 126, 107);
        border-radius: 20px;
        padding: 5px 13px;
    }
    .header__menu .btn:active,
    .header__menu .about:active{
        transition: 0s;
        background-color: rgb(77, 126, 107);
    }
    .header__menu .btn a:active,
    .header__menu .about a:active{
        background-color: rgb(77, 126, 107);
        color: #fff;
    }
.header__logo{
    /* border: 2px solid red; */
    color: rgb(77, 126, 107);
    margin-top: 100px;
}
.header__logo .square{
    width: 130px;
    height: 130px;
    border: 15px solid rgb(77, 126, 107);
    border-radius: 30px;
    display: inline-block;
}
.header__logo .logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 550;
    display: inline-block; 
    position: relative;
     bottom: 25px;
     left: 30px;
    letter-spacing: 5px;

}
/*-------------------DESCRIPT+CONTENT--------------------*/
.header__descript{
    /* border: 2px solid red; */
    display: flex;
     justify-content: space-around;
     margin: 20px auto;
    font-size: 200%;
}
.header__descript .icon img{
    width: 50px;
    height: 50px;
}
.header__content{
    margin: 50px auto;
}
.header__content .content{
    font-size: 150%;
    font-style: italic;
}
.header__content .start-btn{
    margin-top: 150px;
}


/*---------------------------------------------------------
----------------------SECTION REUSE------------------------
---------------------------------------------------------*/

.today{
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 10px 5px 0px gray;
}
.today .row,
.daily .row,
.members .row,
.customers .row,
.projects .row{
    /* border: 2px solid red;           */
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.today__img,
.daily__img,
.members__img,
.customers__img,
.projects__img{
    /* border: 2px solid red; */
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
.today__content,
.daily__content,
.members__content,
.customers__content,
.projects__content{
    /* border: 2px solid red; */
    width: 530px;
    margin-top: 10px;
    padding-left: 10px;
}
.today__content i,
.daily__content i,
.members__content i,
.customers__content i,
.projects__content i{
    display: block;
    margin: 10px;
}
.today__content p,
.daily__content p,
.projects__content p{
    text-align: justify;
    line-height: 1.3;
}
.today__content .start-btn,
.daily__content .start-btn,
.members__content .start-btn,
.customers__contenti .start-btn,
.projects__content .start-btn{
    margin-top: 15px;
}


/*---------------------------------------------------------
------------------------SKILL LIST-------------------------
---------------------------------------------------------*/


.skill-list{
    background-color: rgb(29, 247, 163);
    height: 300px;
}
.skill-list .row{
    display: flex;
    justify-content: space-between;
}
.skill-list__skill{
    /* border: 2px solid red; */
    width: 10%;
    text-align: center;
    position: relative;
     top: 150px;
     transform: translateY(-50%);

}
.skill-list__skill .icon{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.skill-list__skill .icon img{
    width: 40%;
    position: relative;
     top: 45px;
     transform: translateY(-50%);
}
.skill-list__skill .number{
    background-color: rgb(29, 247, 163);
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
     top: -22px;
     left: -3px;
}


/*---------------------------------------------------------
--------------------------MEMBERS--------------------------
---------------------------------------------------------*/

.members{
    /* box-shadow: 0px 10px 5px 0px gray; */
}
.members__content ul li{
    list-style-image: url('../img/icon-check-box.svg');
    margin-bottom: 20px;
    font-size: 80%;
    line-height: 2;
}


/*---------------------------------------------------------
-------------------------CUSTOMERS-------------------------
---------------------------------------------------------*/

.customers{
    background-color: rgb(230, 230, 230);
    box-shadow: 0px -10px 5px 0px gray;
}
.customers__content ul li{
    margin-bottom: 20px;
    font-size: 80%;
    line-height: 2;
    margin-left: 20px;
}
.customers__content ul .li1{
    list-style-image: url('../img/li1.svg');
}
.customers__content ul .li2{
    list-style-image: url('../img/li2.svg');
}
.customers__content ul .li3{
    list-style-image: url('../img/li3.svg');
}


/*---------------------------------------------------------
--------------------------SPONSORS-------------------------
---------------------------------------------------------*/

.sponsors{
    background-image: url('../img/background-sponsor.jpg');
    background-size: cover;
    background-position: bottom 0px right 0px;
    background-attachment: fixed;
    padding-top: 50px ;
    padding-bottom: 30px;
    text-align: center;
}
.sponsors h1{
    margin-bottom: 30px;
    color: rgb(230, 230, 230);
    letter-spacing: 2px;
}
.sponsors__group{
    display: flex;
    justify-content:space-between;
}
.sponsors__group .member{
    color: rgb(230, 230, 230);
    
}
.sponsors__group img{
    width: 100px;
    height: 100px;
}
.sponsors__content{
    margin: 100px 100px 0;
    font-size: 25px;
    color: rgb(230, 230, 230);
    text-align: justify;
}
.sponsors__content::before{
    content:'\201C';
    display: block;
    font-size: 250px;
    color: rgb(78, 78, 78);
    text-align: left;
    margin-bottom: -170px;
    margin-left: -130px;
}



/*---------------------------------------------------------
---------------------------FOOTER--------------------------
---------------------------------------------------------*/


.end{
    background-color: rgba(0, 0, 0, 0.664);
    height: 110px;
    padding-top: 15px;
}
.end .row{
    display: flex;
    justify-content: space-between;
}
.end .row .logo{
    width: 200px;
    height: 50px;
}
.end .row .logo p{
    color: #fff;
}
.end .row .col{
    margin-top: 10px;
}
.end .row .col ul{
    color: rgb(29, 247, 163);
}
.end .row .col ul li{
    list-style: none;
}
.end .row .col ul li a{
    color: #fff;
}
.end .row .col ul li a:hover,
.end .row .col ul li a:active {
    text-decoration: underline;
}
.end .row .icon ul li{
    display: inline-block;
    padding-top: 50px;
}
.end .row .icon ul li i{
    display: block;
    padding: 0 10px;
}